<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</header>

<body>
    
    <div class="container">
        <form action=""> 
            <h4>제목: </h4>
            <input type="text" name="title">
            <br>

            <h4>본문: </h4>
            <textarea cols=40 rows=10 name="body"></textarea>
            <br>

            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
</body>