@font-face{
    font-family: 'S-CoreDream-3Light'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #8CB27F;
}

.container{
    background-color: #8CB27F;
}

.navbar{
    background-color: #8CB27F;
}

.navbar-brand{
    color: black;
    font-size: 45px!important;
    font-weight: 800;
}

.nav-link{
    color: black;
    font-size: 25px;
    letter-spacing: 0px;
    padding: .1rem 3rem;
    font-family: 'S-CoreDream-3Light'
}

.card-text{
    font-family: 'S-CoreDream-3Light';
}

.form-control{
    font-family: 'S-CoreDream-3Light';
    background-color: #8CB27F;
}

.form-group{
    background-color: #8CB27F;
}

.btn{
    font-family: 'S-CoreDream-3Light'
}

.card-body{
    background-color: #8CB27F;
}
.card-header{
    background-color: #8CB27F;
}

.square1{
    background: #e8e6ea;
    width: 80%;
    height: 125px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 30px;
}
.square1 h3{
    font-family: 'S-CoreDream-3Light';
    text-align: center;
    color: #285548;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px 150px;
    background-color: #8CB27F !important;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    grid-gap: 10px 10px;  
}
.square2{
    background: #e8e6ea;
    grid-area: 1 / 1 / 3 / 3;
}
.square2 h3{
    font-family: 'S-CoreDream-3Light'; 
    text-align: center;
    color: #285548;
}
/* .square3{
    background: #97baa4;
    grid-area: 1 / 2 / 3 / 3;
    
}8-*/

.square4{
    background: #e8e6ea;
    grid-area: 1 / 3 / 2 / 5;
}
.square4 h3{
    font-family: 'S-CoreDream-3Light'; 
    text-align: center;
    color: #285548;
}
.square5{
    background: #e8e6ea;
    grid-area: 2 / 3 / 3 / 5;    
}
.square5 h3{
    font-family: 'S-CoreDream-3Light'; 
    text-align: center;
    color: #285548;
}
