@font-face { 
    font-family: 'S-CoreDream-3Light'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
body {
    margin: 0;
    font-family: 'S-CoreDream-3Light'; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #8cb27f;
}
input{
    text-decoration: None;
    text-align: center;
    margin-bottom: 5px;
}
form{
    margin-top: 20px;
}
.btn{
    background-color: #295651;
    border: none;
}